package docs

import (
	"github.com/N3moAhead/bombahead/website/internal/templates/layout"
	"github.com/N3moAhead/bombahead/website/internal/models"
)

templ Doc(user *models.User, csrfToken string, docHTML string, currentSlug string) {
	@layout.Base(csrfToken, user) {
		<div class="container mx-auto px-4 py-8 flex flex-col lg:flex-row gap-8">
			<aside class="w-full lg:w-64 shrink-0">
				<div class="sticky top-8">
					<ul class="menu bg-base-200 rounded-box p-4 w-full text-base-content shadow-xl border border-base-300">
						<li><h2 class="menu-title text-lg font-semibold text-base-content">Documentation</h2></li>
						<li><a href="/docs/index" class={ templ.KV("menu-active", currentSlug == "index") }>Introduction</a></li>
						<li><a href="/docs/GeneralTips" class={ templ.KV("menu-active", currentSlug == "GeneralTips") }>General Tips</a></li>
						<li><h2 class="menu-title text-m font-semibold text-base-content">SDK's</h2></li>
						<li>
							<ul>
								<li><a href="/docs/GolangSDK" class={ templ.KV("menu-active", currentSlug == "GolangSDK") }>Go Bot</a></li>
								<li><a href="/docs/TypeScriptSDK" class={ templ.KV("menu-active", currentSlug == "TypeScriptSDK") }>Typescript Bot</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</aside>

			<main class="flex-1 min-w-0">
				<div class="card bg-base-100 shadow-xl mb-12 border border-base-300">
					<div class="card-body">
						@templ.Raw(docHTML)
					</div>
				</div>
			</main>
		</div>
	}
}
